using SqlServiceLayer
@model SqlServiceLayer.BookListCombinedDto
@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the ExploringCosmosDB book app</h2>

<p>
    This application is designed to display, sort or filter some books using either a SQL server database 
    or a Cosmos DB database. This allows to compare
    <ul>
        <li>How EF Core handles the SQL server version and the Cosmos DB database.</li>
        <li>The best way to store the books in Cosmos DB, e.g. 
            <a href="https://learn.microsoft.com/en-us/azure/cosmos-db/partitioning-overview">Partitioning and partition keys</a>
        </li>
        <li>
            Compare the performance of the SQL server version against the Cosmos DB version
        </li>
    </ul>
</p>

<h4>Things to do</h4>
<ul>

    <li>
        Click <a asp-area="" asp-controller="SqlBooks" asp-action="Index">this link</a> to see the SQL server version of the books
        <br />
    </li>
</ul>

